        body {
            height: 100vh;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        }
        #container {
            grid-row: 5;
            display: flex;
            justify-content: center;
            gap: 3px;
        }
        #container div {
            max-width: 50px;
            height: 100%;
            flex: 1;
            display: grid;
            place-items: center;
            background-color: gray;
        }
        .lastCenter {
            grid-row: 3;
            display: flex;
            justify-content: center;
        }
        .lastCenter div {
            width: 50px;
            height: 100%;
            display: grid;
            place-items: center;
        }